.App {
  font-family: sans-serif;
  text-align: center;
  height: 2000px;
}

.test-modal {
  opacity: 1;
  transition: opacity 0.2s ease;
}

.test-modal--hide {
  opacity: 0 !important;
  pointer-events: none;
}

.test-modal--focusable {
  width: 60%;
}

.test-modal__backdrop {
  opacity: 1;
  transition: opacity 0.2s ease;
}

.test-modal__backdrop--hide {
  opacity: 0 !important;
  pointer-events: none;
}

.test-modal__dialog--focusable {
  margin: 0;
  width: 100%;
}

.test-modal__body {
  display: flex;
  flex-wrap: wrap;
}

.test-modal__body form {
  width: 100%;
}

.test-modal__body img {
  width: 10%;
  border: 1px solid #ffffff;
}

.case-container {
  height: 150px;
  border: 2px solid #474747;
  padding-top: 20px;
  margin: 20px 40px;
}

.first-case-modal {
  padding-right: 0 !important;
}

.first-case-modal__dialog {
  width: 100%;
  height: 100%;
  margin: 0px;
}

.first-case-modal-body-2 {
  width: 200px;
  height: 200px;
  overflow-y: scroll;
}

.first-case-modal-body-1-left-modal {
  position: absolute;
  left: 10px;
}

.first-case-modal-body-1-right-modal {
  position: absolute;
  right: 10px;
}

.second-case {
  display: flex;
  justify-content: space-around;
}

.first-case {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.second-case-left-modal {
  margin: 0px;
  height: 60%;
  width: 30%;
  position: absolute;
  left: 10px;
}

.second-case-right-modal {
  margin: 0px;
  height: 60%;
  width: 30%;
  position: absolute;
  right: 10px;
}

.third-case-left-modal {
  margin: 0px;
  height: 100%;
  right: auto;
}

.third-case-right-modal {
  margin: 0px;
  height: 100%;
  left: auto;
}
